@use '../abstracts/index' as *;

.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  // 'auto-fit' creates as many tracks as can fit
  gap: 6rem;
  // by default align-items stretch, need to set start because while decreasing the screen size it may create gap between contents.
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1.5rem 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
