@use '../abstracts/index' as *;
@use '../base/' as *;

.footer {
  background-color: $color-secondary;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  align-items: center;
  list-style: none;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-display;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba($white, 0.05);
    transform: translate(-0.3rem);
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-light-2;
  text-align: center;
  margin: 5rem auto 0 auto;
  width: 65%;
}
