@use '../abstracts/' as *;
@use '../base/' as *;

.header {
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(
      rgba($color-secondary, 0.95),
      rgba($color-secondary, 0.95)
    ),
    url(../../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem;
  padding-top: 4rem;

  display: grid;
  grid-template-rows: 1fr min-content 6rem 1fr;
  grid-template-columns: max-content;
  row-gap: 1.5rem;
  justify-content: center;

  &__logo {
    height: 3rem;
    justify-self: center;
  }

  &__btn {
    align-self: start;
    justify-self: start;
  }

  &__seen-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center;
    font-size: 1.6rem;
    color: $color-grey-dark-2;

    &::before,
    &::after {
      content: '';
      height: 1px;
      display: block;
      background-color: currentColor;
    }
  }

  &__seen-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    img {
      height: 2.5rem;
      filter: brightness(70%);
    }
  }
}
